
.nplab_frames {
}

.nplab_frame {
	position: relative;
}

.nplab_frame .nplab_image{
    z-index  :  1;
}

.nplab_overlay{
	z-index : 2;
}

.nplab_overlay span {
	position : absolute;
	font-size : 14px;
	color   : #282827;
    text-align: center;
    vertical-align:middle;
    left: 0;
    top : 0;
	background-color : rgba(153, 250, 78, .5);
}


