
@font-face {
	font-family : 'icomoon';
	src : url('fonts/icomoon.woff'); /*?-9146tg') format('woff');*/
	font-style : normal;
	font-weight : normal;
}

.nplab_player{
  background-color:#282827;
	color :#99CD4E;
  position : relative;
}

/*---------------------------------------------------------------
 * view
 *--------------------------------------------------------------*/
.nplab_player .nplab_view{
  display:  block;
  text-align : center;
  vertical-align : middle;
  min-height : 150px;
  min-width : 150px;
  margin : auto;
}

/* unload */
.nplab_player .nplab_view[status="0"]:before {
	font-size : 24px;
	font-family: Impact;
	content : "Drag and drop images here";
}

/*subview loading*/
.nplab_player .nplab_view[status="1"]:after {
	font-size : 24px;
	font-family : 'icomoon';
	content: "\e67f";
	animation:load 1.25s infinite ease; 
} 

@keyframes load {
  0% {
    transform: rotate(0);
  }

  50% { 
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg); 

  }
}

/* subview loaded */
.nplab_player .nplab_subview[status="2"]{
} 



/*---------------------------------------------------------------
 * controls
 *--------------------------------------------------------------*/
.nplab_player .nplab_controls{
    display:  block;
    min-height: 30px;
    min-width :inherit;
	 text-align : center;
    padding: 20px;
}


.nplab_player .btn{
  display: inline-block;
  font: normal normal normal 14px/1 icomoon; 
  font-size: 1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width : 50px;
}



.nplab_player .btn:before {
    padding-left : 5px;
  padding-right:  5px;
}
.nplab_player .btn.prev:before{
  content: "\e71f";
}

.nplab_player .btn.first:before{
  content: "\e721";
}

.nplab_player .btn.next:before{
  content: "\e720";
}

.nplab_player .btn.last:before{
  content: "\e722";
}

.nplab_player .btn.play[status="0"]:before{
  content: "\e71c" ;
}

.nplab_player .btn.play[status="1"]:before{
  content:  "\e71d" ;
}


.nplab_player .btn.repeat:before{

  content : "\e72d" ;
}
.nplab_player .btn.button-active:before{
  background-color:#99CD4E;
  color :#282827;

}

.nplab_player .btn.loop:before {
  content: "\e745";
}





.nplab_player .btn.fps:before{
	content : "FPS";
}

.nplab_player .btn.scale:before{
	content : "1x";
}

.nplab_player .btn.showinfo:before{
  content :  "\e695";

}

.nplab_player .btn.showtitle:before{
  content :  "\e600";
}


/*
*
* progressbar
/


/*---------------------------------------------------------------
 * the progress bar 
 * Refer
 *   http://danielstern.ca/range.css/?ref=css-tricks#/
 *   http://codepen.io/thehonestape/pen/yjlGi
 *   http://www.html5rocks.com/en/tutorials/file/dndfiles/
 */
.nplab_player .nplab_controlbar {
  display: block;
  padding-top:  10px;
  padding-bottom:  10px;
}

.nplab_player select {
  background: transparent;
  color :#99CD4E;
  line-height: 1;
  border: none;
  font-size: 14px;
   -webkit-appearance: none;
       padding-left : 5px;
  padding-right:  5px;
}

.nplab_player select:focus {
    outline: none;
}

.nplab_player input[type=range] {
  -webkit-appearance: none;
  display: inline-block;
  align-content: center;
  width: 100%;
  margin: auto;
}

.nplab_player input[type=range]:focus {
  outline: none;
}

.nplab_player input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #808080;
}

.nplab_player input[type=range]::-webkit-slider-thumb {
  height: 8px;
  width: 3px;
  background: #99CD4E;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}

.nplab_player input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F6F6F6;
}

